<h4 class="mt-5 mb-[15px] text-[16px] font-semibold">
    Industry Type
    <span class="text-red-500">*</span>
</h4>

<div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div class="col-span-1">
        <select name="SelCat" id="SelCat" class="w-full h-8 px-3 mt-3 text-sm text-gray-600 bg-white border border-gray-300 rounded-md shadow-inner transition-all ease-in-out duration-150 focus:ring-indigo-500 focus:border-indigo-500"
            (change)="onCategoryChange($event)">
            <option value="">Select Category</option>
            <option value="Agro">Agro</option>
            <option value="Education">Education</option>
            <option value="IT">IT</option>
            <option value="Others">Others</option>
        </select>
    </div>
    <div class="col-span-1">
        <input class="block w-full h-[34px] py-[6px] px-[12px] mt-3 text-[14px] leading-[1.6] text-[#555] bg-white rounded border-2 border-[#e4e4e4] shadow-inner transition-colors transition-shadow focus:outline-none focus:ring focus:border-[#bdbdbd]" placeholder="Search Industry Type">
    </div>
</div>

<!-- Industrys wrap -->
<div class="max-h-[225px] overflow-y-scroll w-full border-2 border-[#e4e4e4] rounded-md p-2.5 mb-2.5 mt-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        @for (item of getTypes(); track item) {
            <div class="flex items-center">
                <input name="industry_type" id="industry_type_{{item.value}}" type="checkbox" value="{{item.value}}" class="form-checkbox h-5 w-5 text-blue-600 cursor-pointer">
                <label for="industry_type_{{item.value}}" class="text-[14px] leading-[1.42857143] font-sans text-black box-border ml-2">
                    {{ item.label }}
                </label>
             </div>
             
        }
        </div>
    </div>
