<div class="navbar_corporate bg-[#e8eff3] min-h-[64px] py-2">
    <div class="container mx-auto px-4">
        <div class="d-lg-none"></div>
        <div class="flex justify-between items-center">
            <div class="flex items-center">
                <a class="bdjobs_logo" href="https://recruiter.bdjobs.com/">
                    <img src="https://corporate3.bdjobs.com/images/bdjobs-recruiter-logo.svg" class="logo_img_bdjobs w-[256px] h-auto mr-2">
                </a>
            </div>
            <div class="bdj_service flex items-center space-x-1">
                <a href="https://recruiter.bdjobs.com/?from=servicePage" class="visit_bdj_home border border-blue-500 text-blue-500 hover:bg-blue-500 hover:text-white py-2 px-4 rounded-lg text-[15px] font-medium transition duration-200">
                    Sign in
                </a>
                <a href="https://corporate3.bdjobs.com/services.asp?from=recruiter" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-lg transition duration-200">
                    Service Packages
                </a>
            </div>
        </div>
    </div>
</div>
