<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Body -->
<div class="bg-white p-10 border border-gray-300 rounded mb-5 text-[#000]">
  <h3 class="text-center mt-0 mb-10 text-2xl font-semibold">Employer Registration Form</h3>

  <form action="">
    <!-- Account Information -->
    <section>
      <h3 class="text-[#337ab7] mt-0 mb-7 text-xl font-semibold">Account Information</h3>
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
        <!-- username -->
        <div class="col-span-1">
          <app-input-field
            label="Username"
            name="txtUserName"
            id="txtUserName"
            placeholder="Type Username"
            [value]="''"
            [maxLength]="20"
            errorMessage="Username is required">
          </app-input-field>
        </div>

        <!-- password -->
        <div class="col-span-1">
          <app-input-field
            label="Password"
            name="txtPassword"
            id="txtPassword"
            placeholder="Use maximum 8 characters"
            [value]="''"
            [maxLength]="8"
            errorMessage="Password is required">
          </app-input-field>
        </div>

        <!-- confirm password -->
        <div class="col-span-1">
          <app-input-field
            label="Confirm Password"
            name="txtConfirmPassword"
            id="txtConfirmPassword"
            placeholder="Retype password"
            [value]="''"
            [maxLength]="8"
            errorMessage="Password is required">
          </app-input-field>
        </div>
      </div>
    </section>

    <hr>

    <!-- Company Details Information -->
    <section class="mt-6">
      <h3 class="text-[#337ab7] mt-0 mb-7 text-xl font-semibold">Company Details Information</h3>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <!-- comapny name english -->
        <div class="col-span-1">
          <app-input-field
          label="Company Name"
          name="txtCompanyName"
          id="txtCompanyName"
          placeholder="Type Company Name"
          [maxLength]="120"
          [value]="''"
          errorMessage="Company Name is required">
        </app-input-field>
        </div>
        <!-- company name bangla -->
        <div class="col-span-1">
          <app-input-field
          label="কোম্পানির নাম (বাংলায়)"
          name="txtCompanyNameBangla"
          id="txtCompanyNameBangla"
          placeholder="কোম্পানির নাম বাংলায় লিখুন"
          [value]="''"
          [maxLength]="120"
          [isRequired]="false"
          >
        </app-input-field>
        </div>
                <!-- Year of Establishment-->
                <div class="col-span-1">
                  <app-input-field
                  label="Year of Establishment"
                  name="txtCompanyEstablished"
                  id="txtCompanyEstablished"
                  placeholder="Type Company's Establishment Year, e.g. 2003"
                  [value]="''"
                  [maxLength]="4"
                  [isRequired]="true"
                  >
                </app-input-field>
                </div>
                <div class="col-span-1">
                      <label for="ComSize" class="block text-sm font-medium text-gray-700">
                        Company Size
                        <span class="text-red-600">*</span>
                      </label>
                      <select name="ComSize" id="ComSize" class="w-full h-8 px-3 mt-3 text-sm text-gray-600 bg-white border border-gray-300 rounded-md shadow-inner transition-all ease-in-out duration-150 focus:ring-indigo-500 focus:border-indigo-500">
                        <option value="-1">Select Company Size</option>
                        <option value="1-25">1-25 employees</option>
                        <option value="26-50">26-50 employees</option>
                        <option value="51-100">51-100 employees</option>
                        <option value="101-500">101-500 employees</option>
                        <option value="501-1000">501-1000 employees</option>
                        <option value="1000-0">1000+ employees</option>
                      </select>                      
                      <p class="text-red-600 text-sm mt-2 company-error-msg"></p>               
                </div>
      </div>
    </section>

    <hr>
  </form>
</div>
